<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @item.image ,class:"item-box-img" %>

      <%# 商品が売れている場合は、sold outを表示 %>
      <% if Purchase.exists?(item_id: @item.id) %>
        <div class="sold-out">
          <span>Sold Out!!</span>
        </div %>
      <% end %>

    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= "#{@item.price}円" %>
      </span>
      <span class="item-postage">
        <%= @item.fee.name %>
      </span>
    </div>

    <% if user_signed_in? %> 
      <% if Purchase.exists?(item_id: @item.id) %>
      <% else %>
        <% if current_user == @item.user %>
          <%= link_to "商品の編集", edit_item_path, method: :get, class: "item-red-btn" %>
          <p class="or-text">or</p>
          <%= link_to "削除", item_path, method: :delete, class:"item-destroy" %>
        <% else %>
          <%= link_to "購入画面に進む", purchases_path(params[:id]) ,class:"item-red-btn"%>
        <% end %>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.detail %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.status.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.fee.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.from.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.days.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%><%= Favorite.where(item_id: params[:id]).count %>
        <span>
          <% if current_user == @item.user %>
          <% else %>
            <% if Favorite.where(item_id: params[:id], user_id: current_user.id).exists? %>
              <%= button_to '取り消し', favorite_path(@item), method: :delete %>
            <% else %>
              <%= button_to '欲しい', favorites_path %>
            <% end %>
          <% end %>
      </span>
      </div>
      <div class="report-btn">
        <%= image_tag "watch.png" ,class:"watch-count-icon" ,width:"20",height:"20"%>
        <span>閲覧数 <%= @item.impressionist_count %></span>
      </div>
    </div>
  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class="another-item"><%= @item.category.name %>に関する商品をもっと見る</a>
</div>

<%= render "shared/footer" %>
